
@{
    ViewBag.Title = "Building_Security";
    Layout = "~/Views/Shared/Front/_LayoutbasicFront.cshtml";
}

<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background=url('/Templates/Front/img/page-header.jpg')>
    <div class="container">
        <h2>Building & Facility Security</h2>
        <div class="bosluk3"></div>
        <p><a href="@Url.Action("Building_Security", "Home")">Home</a> <i class="flaticon-right-chevron"></i> Building & Facility Security </p>
    </div>
    <!-- end container -->
</header>
<main>
    <!--About Info Alanı-->
    <div class="boslukhm"></div>
    <section class="hizmetlerr-bolumu">
        <div class="h-yazi-ozel h-yazi-margin-ozel">
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="sidebar-service wow fadeInLeft" data-wow-delay="0.8s">
                        <li><a class="dropdown-item" href="@Url.Action("Building_Security", "Home")">Building & Facility Security</a></li>

                        <li><a class="dropdown-item" href="@Url.Action("Manned_Guarding", "Home")">Manned Guarding</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Cash_Services", "Home")">Cash Services</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("Recruitment_and_training", "Home")">Recruitment and traning</a></li>

                    </div>
                    <div class="bosluk3"></div>
                    <div class="callbackform wow fadeInUp" data-wow-delay="0.7s">
                        <h2 class="h2-baslik-popup h-yazi-margin-kucuk">
                            Leave Your Number
                        </h2>
                        <p class="paragraf-popup">
                            Let's Call You Back
                        </p>
                        <form action="https://garantiwebtasarim.com/shield-security-and-protection-service/callbackform.php" class="form-popup" method="post">
                            <div class="form-popup__grup">
                                <input type="text" class="form-popup__input" placeholder="Full Name" id="txt_isim" name="ad7" required>
                                <label for="ad2" class="form-popup__label">Full Name</label>
                            </div>
                            <div class="form-popup__grup">
                                <input type="email" class="form-popup__input" placeholder="Email Address" id="txt_eposta" name="email7" required>
                                <label for="email2" class="form-popup__label">Email Address</label>
                            </div>
                            <div class="form-popup__grup">
                                <input type="text" class="form-popup__input" placeholder="Phone Number" id="txt_telefon" name="telefon7" required>
                                <label for="telefon2" class="form-popup__label">Phone Number</label>
                            </div>
                            <div class="form-popup__grup">
                                <button class="custom-button" id="btn_Gonder">Submit Form</button>
                            </div><br>
                        </form>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="bosluk333"></div>
                    <div class="galeri wow fadeInRight" data-wow-delay="0.7s">
                        <img src="~/Templates/Front/img/services1.png" alt="Building & Facility Security" class="galeri__gorsel galeri__gorsel--3">
                    </div>
                    <div class="bosluk3"></div>
                    <h2 class="h2-baslik-anasayfa-ozel-services wow fade"> Building & Facility Security </h2>
                    <div class="bosluk333"></div>
                    <p class="paragraf wow fade">
                        The most valuable places where we feel safe with our loved ones are our homes.
                        It is our job to provide you and your loved ones with the peace and security you
                        desire in a professional working environment 24/7. Our security personnel, who will
                        work in line with our risk analysis, which will be prepared according to the discovery,
                        examination and evaluation to be carried out free of charge by our expert personnel, will
                        ensure the security of your site / building uninterruptedly. Our staff who will work; It
                        serves by being aware of the private security legislation, aware of its authorities and
                        responsibilities, and being aware of the reliability and image of the site and building,
                        which has increased its experience with the situation-based trainings given on different
                        subjects at different times.
                    </p>
                    <div class="bosluk333"></div>
                    <div class="bosluk3"></div>
                    <div class="tabloozellik">
                        <div class="tablo--1-ve-2">
                            <div class="paketler4 wow fadeInUp">
                                <div class="paketler4__on paketler4__on--onyazi">
                                    <div class="paketler4__icerik">
                                        <div class="icon"><i class="flaticon-medal"></i></div>
                                        <h3 class="baslik-3 h-yazi-margin-kucuk">Reliability</h3>
                                    </div>
                                </div>
                                <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-1">
                                    <div class="paketler4__pr">
                                        <div class="paketler4__pr-kutu">
                                            <h3 class="baslik-orta h-yazi-margin-kucuk">Reliability</h3>
                                            <p class="services-kutu2--yazi1 wow fade">
                                                We provide accurate, reliable and ethical services with our expert staff.
                                                We apply the fastest and most reliable methods for your brand.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Quality 2-->
                        <div class="tablo--1-ve-2">
                            <div class="paketler4 wow fadeInUp">
                                <div class="paketler4__on paketler4__on--onyazi">
                                    <div class="paketler4__icerik">
                                        <div class="icon"><i class="flaticon-badge"></i></div>
                                        <h3 class="baslik-3 h-yazi-margin-kucuk">Loyalty</h3>
                                    </div>
                                </div>
                                <div class="paketler4__on paketler4__on--arkayazi paketler4__on--arkayazi-2">
                                    <div class="paketler4__pr">
                                        <div class="paketler4__pr-kutu">
                                            <h3 class="baslik-orta h-yazi-margin-kucuk">Loyalty</h3>
                                            <p class="services-kutu2--yazi1 wow fade">
                                                Our long-term work continues until the job is finished.
                                                We establish solid and long-term relationships with all the companies we work with.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bosluk333"></div>
                    <div class="bosluk3"></div>
                </div>
            </div>
        </div>
    </section>

