
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/Front/_LayoutbasicFront.cshtml";
}

<header class="page-header wow fadeInUp" data-wow-delay="0.5s" data-background=url('/Templates/Front/img/page-header.jpg')>
    <div class="container">
        <h2>Services</h2>
        <div class="bosluk3"></div>
        <p><a href="@Url.Action("Services", "Home")">Home</a> <i class="flaticon-right-chevron"></i> Services</p>
    </div>
    <!-- end container -->
</header>
<main>
    <!--Service Alanı-->
    <section class="services-s wow fadeInUp" data-wow-delay="0.3s">
        <div class="h-yazi-ortalama h-yazi-margin-orta-3">
            <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s">What Are We Doing <strong style="font-size: 5rem; color: #1a1a1a;"> ?</strong> </h2>
        </div>
        <div class="bosluk3"></div>
        <div class="tabloservices">
            <div class="tablo--1-ve-3">
                <div class="paketler5 wow fadeInLeft" data-wow-delay="0.5s" data-tilt>
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--1">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-owner"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Building & Facility Security</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    The most valuable places where we feel safe with our loved ones are our homes. We provide you and your loved ones a professional environment of trust.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-1">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Building & Facility Security</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    The most valuable places where we feel safe with our loved ones are our homes. We provide you and your loved ones a professional environment of trust.
                                </p>
                            </div>
                            <a href="@Url.Action("Building_Security", "Home")" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service 2-->
            @*<div class="tablo--1-ve-3 wow fade">
                <div class="paketler5 wow fadeInLeft" data-wow-delay="0.6s" data-tilt>
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--2">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-hospital-1"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Hospital Security</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    Our hospitals are private or public institutions that we use constantly for different reasons in the flow of life. We ensure safety in hospital environments.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-5">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Hospital Security</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    Our hospitals are private or public institutions that we use constantly for different reasons in the flow of life. We ensure safety in hospital environments.
                                </p>
                            </div>
                            <a href="hospital-security.html" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>*@
            <!--Service 3-->
            <div class="tablo--1-ve-3 wow fade" data-tilt>
                <div class="paketler5 wow fadeInRight" data-wow-delay="0.7s">
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--3">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-house"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Manned Guarding</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    First of all, risk analysis of the hotel is made, risky areas are determined and an electronic security system is established. Hotel exits are secured.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-3">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Manned Guarding</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    First of all, risk analysis of the hotel is made, risky areas are determined and an electronic security system is established. Hotel exits are secured.
                                </p>
                            </div>
                            <a href="@Url.Action("Manned_Guarding", "Home")" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabloservices">
            <!--Service 4-->
            <div class="tablo--1-ve-3 wow fade" data-tilt>
                <div class="bosluk3h"></div>
                <div class="paketler5 wow fadeInLeft" data-wow-delay="0.5s">
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--4">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-protest"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Cash Services</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    Persons who want to benefit from the close protection service are provided with security 24 hours a day, 7 days a week by our specially trained team.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-4">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Cash Services</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    Persons who want to benefit from the close protection service are provided with security 24 hours a day, 7 days a week by our specially trained team.
                                </p>
                            </div>
                            <a href="@Url.Action("Cash_Services", "Home")" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service 5-->
            <div class="tablo--1-ve-3 wow fade">
                <div class="bosluk3h"></div>
                <div class="paketler5 wow fadeInLeft" data-wow-delay="0.6s" data-tilt>
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--5">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-enterprise"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Recruitment and Traning</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    First of all, the risky areas in the Business Centers are determined and a security system is established. Building entrances and exits are protected.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-5">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Recruitment and Traning</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    First of all, the risky areas in the Business Centers are determined and a security system is established. Building entrances and exits are protected.
                                </p>
                            </div>
                            <a href="@Url.Action("Recruitment_and_training", "Home")" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Service 6-->
            @*<div class="tablo--1-ve-3 wow fade">
                <div class="bosluk3h"></div>
                <div class="paketler5 wow fadeInRight" data-wow-delay="0.7s" data-tilt>
                    <div class="paketler5__on paketler5__on--onyazi">
                        <div class="paketler5__gorsel paketler5__gorsel--6">
                            <div class="paketler5__icerik">
                                <div class="icon"><i class="flaticon-customer-service"></i></div>
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Security Consulting</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    It is the determination of the security risks of the facility, institution or person through interviews or on-site discovery and determination of measures.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="paketler5__on paketler5__on--arkayazi paketler5__on--arkayazi-6">
                        <div class="paketler5__pr">
                            <div class="paketler5__pr-kutu">
                                <h3 class="baslik-3 h-yazi-margin-kucuk">Security Consulting</h3>
                                <p class="services-kutu2--yazi1 wow fade">
                                    It is the determination of the security risks of the facility, institution or person through interviews or on-site discovery and determination of measures.
                                </p>
                            </div>
                            <a href="security-consulting.html" class="custom-button">Review &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
    <!--Markalar Alanı-->
    <section class="markalar wow fadeInUp" data-wow-delay="0.3s">
        <div class="h-yazi-ortalama h-yazi-margin-client">
            <h2 class="h2-baslik-hizmetler-21 wow fadeInUp" data-wow-delay="0.4s"> Those Who Prefer Us <strong style="font-size: 5rem; color: #ffffff;">?</strong> </h2>
            <div class="bosluk3"></div>
        </div>
        <div class="h-yazi-ortalama h-yazi-margin-kucuk-21 wow fadeInUp" data-wow-delay="0.5s">
            <img src="~/Templates/Front/img/client1.png" alt="Marka 1" class="marka">
            <img src="~/Templates/Front/img/client2.png" alt="Marka 2" class="marka">
            <img src="~/Templates/Front/img/client3.png" alt="Marka 3" class="marka">
            <img src="~/Templates/Front/img/client4.png" alt="Marka 4" class="marka">
            <img src="~/Templates/Front/img/client5.png" alt="Marka 5" class="marka">
            <div class="bosluk333"></div>
            <img src="~/Templates/Front/img/client6.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client7.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client8.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client9.png" alt="Marka 5" class="marka">
            <img src="~/Templates/Front/img/client10.png" alt="Marka 5" class="marka">
        </div>
    </section>
    <!--Yorumlar-->
    <section class="yorumlar-alani-sayfa wow fadeInUp" data-wow-delay="0.3s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="h-yazi-ortalama h-yazi-margin-orta-3">
                        <h2 class="h2-baslik-hizmetler-2 wow fadeInUp" data-wow-delay="0.4s">What Did They Say <strong style="font-size: 5rem; color: #1a1a1a;"> ?</strong> </h2>
                    </div>
                    <div class="bosluk3ps"></div>
                </div>
                <div class="col-12">
                    <div class="carousel-classes">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.5s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We needed security for our hospital. A professional and smiling team does their job properly. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg">
                                                <img src="~/Templates/Front/img/testimonial1.png" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInLeft" data-wow-delay="0.6s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We needed protection for our Business Center. A professional and smiling team does their job properly. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg">
                                                <img src="~/Templates/Front/img/testimonial2.png" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.7s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            We needed protection for our hotel. A professional and smiling team does their job properly. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg">
                                                <img src="~/Templates/Front/img/testimonial3.png" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                            <div class="swiper-slide wow fadeInRight" data-wow-delay="0.8s">
                                <div class="class-box">
                                    <div class="testimonial-card">
                                        <div class="testimon-text">
                                            I needed a bodyguard for myself. It is always with me and provides really good protection. Thanks.
                                            <i class="fas fa-quote-right quote"></i>
                                        </div>
                                        <div class="testimonialimg">
                                            <div class="testimonimg">
                                                <img src="~/Templates/Front/img/testimonial4.png" alt="">
                                            </div>
                                            <h3 class='person'>Jane Doe</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end swiper-slide -->
                        </div>
                        <!-- end swiper-wrapper -->
                        <div class="swiper-pagination"></div>
                        <!-- end swiper-pagination -->
                    </div>
                </div>
                <!-- end col-12 -->
            </div>
        </div>
    </section>

